<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>Mayday : Calendar</title>
<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" />
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Gulzar&display=swap" rel="stylesheet" />
<!-- 화면 해상도에 따라 글자 크기 대응(모바일 대응) -->
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<link rel="stylesheet" href="/css/week.css" />

</head>
<body>
<div class="wrapper">
    <div class="header" onclick="resetDate()"></div>
    <header>
        <div class="current">
        <div class="current-date"></div>
        <div class="current-year"></div>
        <!-- 일, 주, 월 / 일정 추가 버튼 -->
        <div class="current-toolbar">
            <!-- <button class="fc-addEventButton-button fc-button fc-button-primary" type="button">
            일정 추가
            </button> -->
            <div class="view-buttons">
                <button id="month-view">월</button>
                <button id="week-view">주</button>
                <button id="day-view">일</button>
            </div>
        </div>

        </div>
        <div class="icons">
            <span id="prev" class="material-symbols-rounded">chevron_left</span>
            <span id="next" class="material-symbols-rounded">chevron_right</span>
        </div>
    </header>
    <div class="calendar">
      <div class="week">
         <!-- 주간 일정 head 부분 -->
         <div class="week__head">
            <div class="week__headinbody">
               <div class="KleIJ">
                  <div aria-hidden="true" class="gije">
                     <div class="GMT"></div>
                  </div>
               </div>
               <div class="datehead">
                  <h2 class="datehead__h2" role="columnheader">
                     <div class="dotw sunday">Sun</div>
                     <div class="dodw"></div>
                  </h2>
               </div>
               <div class="datehead">
                  <h2 class="datehead__h2" role="columnheader">
                     <div class="dotw">Mon</div>
                     <div class="dodw"></div>
                  </h2>
               </div>
               <div class="datehead">
                  <h2 class="datehead__h2" role="columnheader">
                     <div class="dotw">Tue</div>
                     <div class="dodw"></div>
                  </h2>
               </div>
               <div class="datehead">
                  <h2 class="datehead__h2" role="columnheader">
                     <div class="dotw">Wed</div>
                     <div class="dodw"></div>
                  </h2>
               </div>
               <div class="datehead">
                  <h2 class="datehead__h2" role="columnheader">
                     <div class="dotw">Thu</div>
                     <div class="dodw"></div>
                  </h2>
               </div>
               <div class="datehead">
                  <h2 class="datehead__h2" role="columnheader">
                     <div class="dotw">Fri</div>
                     <div class="dodw"></div>
                  </h2>
               </div>
               <div class="datehead">
                  <h2 class="datehead__h2" role="columnheader">
                     <div class="dotw saturday">Sat</div>
                     <div class="dodw"></div>
                  </h2>
               </div>
            </div>
         </div>
      </div>


    <ul class=""></ul>
    </div>
</div>     
<script  src="../../static/js/week.js"></script>
</body>
</html>